<header>
  <div class="branding">
    <img src="#{Avatar}" class="branding-image" />
    <p class="branding-title"> Miguh Ruiz </p>
    <p class="branding-description"> Full Stack JavaScript Developer </p>
  </div>
</header>
